{% extends "accounts/base.html" %}

{% load bootstrap3 %}

{% block extra_head %}
    {{ form.media }}
    <style>

	</style>
{% endblock %}

{% block content %}
	<form class="form-vertical text-left" action="" method="post">
	    	{% csrf_token %}
	    	<center>
		    	<div class="fieldWrapper">
			        <label for="id_email">E-mail:</label><br />
			        {{ form.username }}
			        {% if form.username.errors %}
			        <div class="alert alert-danger">{{ form.username.errors }}</div>
			        {% endif %}
	    		</div>
	    		<br />
	    		<div class="fieldWrapper">
			        <label for="id_password">Senha:</label><br />
			        {{ form.password }}
			        {% if form.password.errors %}
			        <div class="alert alert-danger">{{ form.password.errors }}</div>
			        {% endif %}
	    		</div>
	    		<hr />
		    	<p>
			    	<button type="submit" class="btn btn-primary btn-small">
			    		<i class="icon-off icon-white"></i> Entrar
			    	</button>
		    		<br />
		        	<a href="{% url 'password_reset' %}" class="btn btn-small">
		            <i class="icon-lock"></i> Esqueci da minha senha
		        	</a>
		        </p>
		    </center>
	</form>
{% endblock %}