{% extends "accounts/base.html" %}
{% load bootstrap3 %}

{% block extra_head %}
    {{ form.media }}
{% endblock %}

{% block content %}

<h1><i class="icon-lock"></i> Alterar senha de acesso</h1>

<form class="form-vertical" action="" method="post">
    {% csrf_token %}
    {{ form }}
    
    <p class="form-actions">
        <button type="submit" class="btn btn-primary btn-small"><i class="icon-chevron-down icon-white"></i> Gravar</button>
    </p>
</form>

{% endblock %}