<!DOCTYPE html>
{% load bootstrap3 %}
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Frontend Taxi</title>
    <meta name="description" content="">
    <meta name="author" content="Dylan Verheul">
    {% bootstrap_css %}
    
    <style type="text/css">
        body {
            padding-top: 60px;
        }

        h1{
        	font-size:18px;
        }

        .glyphicon{
            font-size:30px;
            color: #000;
        }

        .navbar-btn{
            width:170px;
        }

        button span{
            color:#000;
        }
    </style>


    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    {% bootstrap_javascript %}

    <script>
    /*a cada 5 segundos, atualiza a posicao geografica do taxi*/
    window.setTimeout(function(){
       if(navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
            $.getJSON( "http://trab.ersistemas.info/{{user.get_taxi_id}}/"+position.coords.latitude+"/"+position.coords.longitude, function(data){
            });
        }, function() {
          handleNoGeolocation(true);
        });
      } 
    }, 5000);
    </script>

    {% block extra_head %}{% endblock %}
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="/" title="Taxi">
            <img class="img" src="{{ STATIC_URL }}img/logo-taxi.png" style="heigth:36px; width:36px;">
            <small style="color: #FFF; font-size:20px;">REDE TAXI</small>
        </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="{% url 'home' %}" title="Acessar a tela inicial do sistema">
                <i class="icon-home"></i> Home
            </a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'password_change' %}"><i class="icon-lock"></i> Alterar a minha senha</a></li>
                <li><a href="{% url 'logout' %}?next=/" title="Fazer logout - {{user.nome}}"><i class="icon-off"></i> Logout</a></li>
            </ul>
          </li>
        </ul>
    </div>
</nav>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <center>
        <button type="button" class="btn navbar-btn btn-warning" onClick="window.location='{% url 'taxi_solicitacoes_pendentes' %}'">
            <span class="glyphicon glyphicon-hand-right"></span><br />
            <span>Solicitações Pendentes</span>
        </button>
        <button type="button" class="btn navbar-btn btn-warning" onClick="window.location='{% url 'taxi_solicitacoes_atendidas' %}'">
            <span class="glyphicon glyphicon-chevron-down"></span><br />
            <span>Solicitações Atendidas</span>
        </button>
        <button type="button" class="btn navbar-btn btn-warning" onClick="window.location='{% url 'meu_local' %}'">
                <span class="glyphicon glyphicon-map-marker"></span><br />
                <span>Onde estou?</span>
        </button>
        <button type="button" class="btn navbar-btn btn-warning" onClick="window.location='{% url 'taxi_alterar_minha_situacao' %}'">
                <span class="glyphicon glyphicon-repeat"></span><br />
                <span>Alterar meu Status</span>
        </button>
    </center>
</nav>

<div class="container">
    {% block status %}
    <nav class="navbar-default">
        <center>
            <p class="alert alert-warning">{{user.get_dados}}</p>
            <p><span class="btn btn-alert"> ESTOU {{ user.get_situacao|upper }}</span></p>
        </center>
    </nav>
    {% endblock %}

    {% block content %}
       <center>
            <br /><br />
            <img src="{{STATIC_URL}}img/logo-taxi.png">
            <br /><br />
       </center>
    {% endblock %}
</div> <!-- container -->

</body>
</html>