{% extends "base.html" %}

{% block extra_head %}
  <meta http-equiv="refresh" content="5">
  <style>
    #map-canvas {
        width:215%;
        height:370px;
    }

    html, body, .row, .col-xs-6 { height: 100% }
  </style>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>

  <script>
    var map;

    function initialize() {
      var mapOptions = {
        zoom: 17
      };
      map = new google.maps.Map(document.getElementById('map-canvas'),
          mapOptions);

      // Try HTML5 geolocation
      if(navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var pos = new google.maps.LatLng(position.coords.latitude,
                                           position.coords.longitude);

          /*var infowindow = new google.maps.InfoWindow({
            map: map,
            position: pos,
            content: 'Sua localização'
          });*/

          var marca = new google.maps.Marker({
              position: pos,
              map: map,
              icon: '{{STATIC_URL}}img/logo-taxi.png',
              title: 'Sua localização'
          });

          map.setCenter(pos);
        }, function() {
          handleNoGeolocation(true);
        });
      } else {
        // Browser doesn't support Geolocation
        handleNoGeolocation(false);
      }
    }

    function handleNoGeolocation(errorFlag) {
      if (errorFlag) {
        var content = 'Error: The Geolocation service failed.';
      } else {
        var content = 'Error: Your browser doesn\'t support geolocation.';
      }

      var options = {
        map: map,
        position: new google.maps.LatLng(60, 105),
        content: content
      };

      var infowindow = new google.maps.InfoWindow(options);
      map.setCenter(options.position);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
  </script>
{% endblock %}

{% block status %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xs-6 img img-polaroid">
      <div id="map-canvas">
      </div>
    </div>
  </div>
{% endblock %}