{% extends "base.html" %}

{% block extra_head %}
<style>
	#map-canvas {
	    width:220%;
	    height:150px;
	}

	html, body, .row, .col-xs-6 { height: 100% }
</style>
<!-- Google Maps API -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script>
var map;
function initialize() {
  var mapOptions = {
    zoom: 13,
    center: new google.maps.LatLng({{ solicitacao.latitude }}, {{ solicitacao.longitude }})
  };
  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  var pos = new google.maps.LatLng({{ solicitacao.latitude }}, {{ solicitacao.longitude }});

  var passageiro = new google.maps.Marker({
              position: pos,
              map: map,
              icon: '{{STATIC_URL}}img/passageiro.png',
              title: '{{ solicitacao.usuario.nome }} - {{ solicitacao.usuario.telefone }}'
          });
}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>
{% endblock %}

 {% block status %}
 {% endblock %}

{% block content %}

<div class="row">
	<div class="col-xs-6">
		<div id="map-canvas" class="alert alert-warning">
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<p>Cliente:<br />
		<strong>{{ solicitacao.usuario }}</strong></p>
		
		<p>Telefone:<br />
		<strong>{{ solicitacao.usuario.telefone }}</strong></p>
		
		<p>Data:<br />
		<strong>{{ solicitacao.data_solicitacao|date:"d/m/Y H:i" }}</strong></p>
	</div>
</div>
<hr />
<div class="row">
	<div class="col-md-12">
	<center>
	{% if solicitacao.data_conclusao %}
		<span class="label label-success">
			Atendido em {{ solicitacao.data_conclusao }}
		</span><br /><br />
		<a href="{% url 'taxi_solicitacao_alterar_situacao' solicitacao.pk %}" class="btn btn-warning"> Reabrir </a>
	{% else %}
		<a href="{% url 'taxi_solicitacao_alterar_situacao' solicitacao.pk %}" class="btn btn-warning">  Marcar como Atendido </a>
	{% endif %}
	</center>
	</div>
</div>

{% endblock %}