{% extends "base.html" %}

{% block extra_head %}
{% endblock %}

{% block content %}
<h1>Solicitações Pendentes:</h1>
<table class="table table-striped table-bordered table-hover">
	<thead>
		<th>Cliente</th>
		<th>Data</th>
		<th>Ver</th>
	</thead>
	<tfoot>
		<tr>
			<td colspan="2" class="strong">Total: </td>
			<td class="strong">{{ ls|length }}</td>
		</tr>
	</tfoot>
	<tbody>
		{% for obj in ls %}
		<tr>
			<td>{{ obj.usuario.nome }}</td>
			<td>{{ obj.data_solicitacao|date:"d/M H:m" }}</td>
			<td>
				<a class="btn btn-waring" href="{% url 'taxi_solicitacao' obj.pk %}">
					<span class="glyphicon glyphicon-globe"></span>
				</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
  </table>
{% endblock %}